<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.plugin.kpax.beaninspector.commands.category"
            name="%category_name">
      </category>
      <command
            categoryId="org.eclipse.plugin.kpax.beaninspector.commands.category"
            id="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectClass"
            name="%command_selectClass_name">
      </command>
      <command
            categoryId="org.eclipse.plugin.kpax.beaninspector.commands.category"
            id="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectPath"
            name="%command_selectPath_name">
      </command>
     <command
            categoryId="org.eclipse.plugin.kpax.beaninspector.commands.category"
            id="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_validatePath"
            name="%command_validatePath_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.plugin.kpax.beaninspector.handlers.SelectClassHandler"
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectClass">
      </handler>
            <handler
            class="org.eclipse.plugin.kpax.beaninspector.handlers.SelectPathHandler"
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectPath">
      </handler>
            <handler
            class="org.eclipse.plugin.kpax.beaninspector.handlers.ValidatePathHandler"
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_validatePath">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectClass"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+0">
      </key>
      <key
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_validatePath"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+9">
      </key>
      <key
            commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectPath"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+SPACE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.plugin.kpax.beaninspector.toolbars.javabinderToolbar">
            <command
                  commandId="org.eclipse.plugin.kpax.beaninspector.commands.javabinderCommand_selectClass"
                  icon="icons/bean_arrow.png"
                  id="org.eclipse.plugin.kpax.beaninspector.toolbars.javabinderCommand"
                  tooltip="%command_selectClass_tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
</plugin>
